@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%
}

body {
  background-color: white;
  color: black;
  font-size:15px;
  font-family: 'Karla', 'Helvetica','Arial',sans-serif;
  height: 100%;
}

main {
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* these push the footer to the bottom */

.main-container {
  min-height: 100%;
}

.main {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding-bottom: 50px;
}

.footer {
  background-color: lime;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

/* these push the footer to the bottom */

a:hover {
  -webkit-transition: color 10s;
  transition: color 0.2s;
  color: lime;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid currentcolor;
}

a:active {
  color: hotpink;
}

.linkedproject {
  color: deeppink;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: none;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: black;
}

.navbar-nav {
  list-style: none;
}

tr:hover {
  background-color: lime;
}

th {
  padding: 0.75rem;
  text-align: center;
  vertical-align: center;
  border: 1px solid black
}

td {
  padding: 0.5rem;
  text-align: center;
  vertical-align: center;
  border: 1px solid black
}

th:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2;
  color: lime;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}


.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: auto;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  color: lime;
}
